.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.header:global(.__wab_instance) {
  position: relative;
}
.whoWhat:global(.__wab_instance) {
  position: relative;
}
.how:global(.__wab_instance) {
  position: relative;
}
.offering:global(.__wab_instance) {
  position: relative;
}
.why:global(.__wab_instance) {
  position: relative;
}
.thinking:global(.__wab_instance) {
  position: relative;
}
.clients:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.svg__afMbO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vf67Y {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__k90D4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__knLgb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__h9Uw3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__arZzO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___0Uugl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___8GrgZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__uCDjM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___8MiXh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__weRqf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__arivg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.testimonials:global(.__wab_instance) {
  position: relative;
}
.cta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
