.root {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
.box___2Ljn {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  padding: 1em /* plasmic-token: iDgJbQRux */;
  margin: 1em /* plasmic-token: iDgJbQRux */;
  border: 2px solid #8224e3 /* plasmic-token: ra9Gw4w7h */;
}
.box__iOi1 {
  position: relative;
  font-size: 1.2em /* plasmic-token: zdMCU2VgjIu */;
  font-weight: 500;
  color: #8224e3 /* plasmic-token: ra9Gw4w7h */;
}
.box__mNwI6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1.2em;
  color: #8224e3 /* plasmic-token: ra9Gw4w7h */;
  align-self: center;
  flex-shrink: 0;
  height: 1em;
}
.link {
  display: flex;
  flex-direction: column;
}
.box__pKxUi {
  position: relative;
  text-align: center;
  align-self: center;
  font-size: 1.2em /* plasmic-token: zdMCU2VgjIu */;
  font-weight: 500;
  color: #8224e3 /* plasmic-token: ra9Gw4w7h */;
}
