.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.box__bTfd2 {
  position: relative;
}
.box__te6Eh {
  position: relative;
}
.box__qazGq {
  position: relative;
  text-align: left;
}
.box___52KC8 {
  position: relative;
}
.box__sDWvx {
  position: relative;
  text-align: left;
}
.box__faX9D {
  position: relative;
}
.box__fnPgq {
  position: relative;
  text-align: left;
}
.box__sv4Yf {
  position: relative;
}
.box__zcjtf {
  position: relative;
  text-align: left;
}
.box___3GFez {
  position: relative;
}
