.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.box___50MVa {
  position: relative;
  font-size: 16px;
  text-align: center;
}
.box__ue6Tq {
  position: relative;
  height: auto;
  text-align: center;
}
.box__znyC {
  position: relative;
  text-align: center;
}
.box__lXd94 {
  position: relative;
  font-size: 16px;
  text-align: center;
}
