.root {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}
.box__aWjEx {
  box-shadow: 0px 15px 12px 0px #00000038;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 0.5em;
  padding: 1em /* plasmic-token: iDgJbQRux */;
  margin: 5% /* plasmic-token: 6CpGymwRO */;
}
@media (min-width: 768px) {
  .box__aWjEx {
    width: auto;
    padding: 1em /* plasmic-token: iDgJbQRux */ 3em;
  }
}
.box__vdePe {
  font-size: 2em /* plasmic-token: 6pX1vr0nUD */;
  font-weight: 700;
  position: relative;
  padding: 0.5em /* plasmic-token: MmbfocG2p */;
}
.box__gSde {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.uiux {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
  padding: 1em /* plasmic-token: iDgJbQRux */;
  margin: 0em;
  background: #f1f1f1;
}
@media (min-width: 768px) {
  .uiux {
    width: 50%;
  }
}
.box__lEy2B {
  font-size: 2em /* plasmic-token: 6pX1vr0nUD */;
  font-weight: 700;
  text-align: center;
}
.box__z8Yc6 {
  position: relative;
  text-align: center;
  font-size: 1.2em /* plasmic-token: zdMCU2VgjIu */;
  font-weight: 600;
}
.svg__hADrI {
  object-fit: cover;
  width: 10em;
  height: 100%;
  align-self: center;
  min-height: 0;
}
.box__cS2No {
  position: relative;
  text-align: center;
  align-self: auto;
}
.dtoc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 1em /* plasmic-token: iDgJbQRux */;
  background: #f1f1f1;
}
@media (min-width: 768px) {
  .dtoc {
    width: 50%;
  }
}
.box__mWpyl {
  font-size: 2em /* plasmic-token: 6pX1vr0nUD */;
  font-weight: 700;
  text-align: center;
}
.box__koJvI {
  position: relative;
  text-align: center;
  font-size: 1.2em /* plasmic-token: zdMCU2VgjIu */;
  font-weight: 600;
}
.svg__zx65 {
  object-fit: cover;
  width: 10em;
  height: 100%;
  align-self: center;
  color: #535353 /* plasmic-token: 9LDvOe-gg */;
  min-height: 0;
}
.box___2DsVi {
  position: relative;
  text-align: center;
  align-self: auto;
}
.box__ww1II {
  position: relative;
  height: auto;
  font-size: 1.2em /* plasmic-token: zdMCU2VgjIu */;
  font-weight: 600;
  width: 100%;
  min-width: 0;
  padding: 1em /* plasmic-token: iDgJbQRux */ 0px;
}
