.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.box__j9DbV {
  position: relative;
  height: auto;
}
.box__efcLh {
  position: relative;
}
