.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.box__vdePe {
  position: relative;
}
.box__lEy2B {
  position: relative;
}
.box__z8Yc6 {
  position: relative;
}
.box__cS2No {
  position: relative;
  text-align: left;
}
.box__mWpyl {
  position: relative;
}
.box__koJvI {
  position: relative;
  text-align: left;
}
.box__flZtN {
  position: relative;
  text-align: left;
}
.box__ww1II {
  position: relative;
  height: auto;
}
