.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  min-width: 0;
}
.box__s34N7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.box__rDYjL {
  display: flex;
  position: relative;
  align-self: center;
}
.slotChildren {
  text-align: left;
  white-space: pre-wrap;
}
.svg___9Pmst {
  position: relative;
  object-fit: cover;
  width: 1em;
  align-self: auto;
  flex-shrink: 0;
  height: 1em;
}
.img___7TQb {
  position: relative;
  object-fit: cover;
  width: 33%;
}
