.root {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 0;
  padding: 0.5em /* plasmic-token: MmbfocG2p */;
}
.box__dp7Jw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
}
.box__dp7Jw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 0.5em /* plasmic-token: MmbfocG2p */);
  width: calc(100% + 0.5em /* plasmic-token: MmbfocG2p */);
}
.box__dp7Jw > :global(.__wab_flex-container) > *,
.box__dp7Jw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0.5em /* plasmic-token: MmbfocG2p */;
}
.box__bchV {
  position: relative;
  align-self: auto;
}
.svg {
  position: relative;
  object-fit: cover;
  align-self: auto;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.box__edRJ {
  position: relative;
}
